@keyframes flicker {
    0% {
      opacity: 0.3;
    }
    5% {
      opacity: 0.35;
    }
    10% {
      opacity: 0.28;
    }
    15% {
      opacity: 0.4;
    }
    20% {
      opacity: 0.2;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 0.6;
    }
    35% {
      opacity: 0.7;
    }
    40% {
      opacity: 0.5;
    }
    45% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.4;
    }
    55% {
      opacity: 0.3;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.6;
    }
    75% {
      opacity: 0.4;
    }
    80% {
      opacity: 0.6;
    }
    85% {
      opacity: 0.7;
    }
    90% {
      opacity: 0.6;
    }
    95% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.3;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  